<% if current_user %>
  <h3 class='center'> Welcome, <%= current_user.username %>! </h3>
<% end %>

<div class="container">
  <br>
  <div class='row'>
    <h3 class= 'col s6'> Thoughts?</h3>
    <h3 class='col s6'>Search </h3>
  </div>
  <div class="row">
    <div class="col s6">
      <%= form_for(Link.new) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :url %>
        <%= f.text_field :url %>
        <%= f.submit "Create Link" %>
      <% end %>
    </div>
    <div class="col s6">
      <div class="input-field">
        <input class="validate" type="text" id="filter" placeholder="Search">
        <label for="filter"></label>
        <br><br><br><br><br><br>

        <input class="btn blue" id="create-link" type="button" name="submit" value="Search"></input>
      </div>
    </div>
  </div>
  <br>
  <h3 class='center-align'> Previous Links: </h3>
  <div class="row">
    <div class="col s10">
      <ul id="latest-links"></ul>
    </div>
  </div>
</div>
