<div class="container">
  <h1> Create LINK </h1>
  <section class="create-link">
      <form class="new-link">
        <div class="new-link-field">
          <label class="new-link-label">Link Title</label>
          <input type="text" class="new-link-title new-link-input" name="link[title]" placeholder="Link Title">
        </div>
        <div class="new-link-field">
          <label class="new-link-label">Link URL</label>
          <input type="text" class="new-link-url new-link-input" name="link[url]" placeholder="Link URL">
        </div>
        <div class="new-link-messages"></div>
        <input type="submit" class="new-link-submit" value="Submit Link">
      </form>
    </section>

<table class="centered">
    <thead>
        <tr>Title</th>
        <th>Link</th>
        <th>Edit</th>
        <th>Read?</th>
      </tr>
    </thead>
    <tbody id="link-index">
      <% @links.each do |link| %>
      <tr id="link-<%=link.id%>">
        <th class="center link-title"><%= link.title %></th>
        <th class="center"> <a href="<%=link.url%>">Link</a></th>
        <th class="center"> <a href="<%=edit_link_path(link)%>">Edit</a></th>
        <th class="center read-status" id="<%=link.id%>-edit-read"><%= link.read.to_s %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
