<!DOCTYPE html>
<html>
<head>
  <title>FinalAssesment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, msg| %>
    <%= content_tag :p, sanitize(msg), class: 'hidden' %>
    <div class="flash_<%= type %>">
    </div>
  <% end %>


  <nav>
    <div class="nav-wrapper">
      <%= link_to "Final Countdown", root_path, class: "brand-logo center", id: "logo" %>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
        <% unless current_user %>
          <li><%= link_to "Create Account", new_user_path %></li>
        <% end %>
    </div>
  </nav>

  <div class="container">
      <% flash.each do |type, msg| %>
      <div class="card">
        <p>
          <center style='color:yellow'><%= content_tag :div, msg.html_safe %></center>
        </p>
      </div>
      <% end %>
  </div>

<%= yield %>

</body>
</html>
